.searchBarStatistics {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
}

.inputField::placeholder,
.inputTextBox::placeholder {
    font-size: 16px;
    font-weight: 500;
    color: rgba(128, 128, 128, 0.75);
    opacity: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
}

.inputField {
    border: none;
    border-radius: 15px;
    height: 45px;
    width: 87.5%;
    min-width: 87.5%;
    max-width: 87.5%;
    max-height: 75px;
    min-height: 45px;
    font-weight: 550;
    font-size: 16px;
    margin: 0px auto 20px auto;
    color: rgba(255, 255, 255, 0.9);

}

.inputTextBox {
    border: none;
    border-radius: 15px;
    height: 45px;
    width: 87.5%;
    min-width: 87.5%;
    max-width: 87.5%;
    max-height: 200px;
    min-height: 45px;
    font-weight: 550;
    font-size: 16px;
    margin: 0px auto 20px auto;
    color: rgba(53, 109, 90, 0.9);
}

.toggleContainer {
    display: flex;
    justify-content: center;
    padding: 10px;
    transition: all 0.3s linear;
}

.toggleButton {
    border: none;
    background: none;
    padding: 8px 16px;
    font-size: 16px;
    cursor: pointer;
    color: rgba(128, 128, 128, 0.75);
    transition: all 0.3s linear;
}

.toggleButton:hover {
    color: black;
}

.toggleButton.active {
    color: white;
    border-bottom: 3px solid rgb(255, 255, 255);
}

.inputField,
.inputTextBox {
    padding-left: 5%;
}

.inputTextBox {
    padding-top: 15px;
}

.searchBarDiv {
    display: flex;
    align-items: center;
    position: relative;
    width: 87.5%;
    margin: auto;
}

.inputField,
.inputTextBox {
    margin: auto;
    flex: 1;
    padding-right: 7%;
}

.inputField::placeholder,
.inputTextBox::placeholder {
    font-size: 16px;
    font-weight: 50;
    opacity: 0.8;
}

.text {
    margin-top: 5%;
}

.bigText,
.smallText,
.ourTeam,
.arrow,
.searchButton,
.searchBoxText {
    color: white;
    margin-bottom: 20px;
}

.bigText {
    font-weight: 550;
}

.smallText {
    font-weight: 350;
}

.ourTeam {
    font-weight: 900;
}

.line {
    border-top: none;
    border-left: none;
    border-right: none;
    width: 10%;
}

.searchDiv {
    width: 52%;
    background-color: rgb(53, 109, 90, 0.9);
    border-radius: 20px;
    margin: 150px auto 0px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.searchBoxText {
    margin-top: 25px;
    font-size: 25px;
    width: 100%;
    text-align: center;
}

.searchButton {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: rgb(53, 109, 90, 0.9);
    height: 35px;
    width: 35px;
    border: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.searchButton:hover {
    scale: 1.05;
}

.arrow {
    width: 20px;
    height: 20px;
    margin: auto;
}

@media screen and (max-width: 1150px) {
    .searchBarStatistics {
        margin-top: 20%;
    }

    .searchDiv {
        width: 85%;
    }

    .searchButton {
        margin-left: 78%;
    }

    .searchBoxText {
        font-size: 22px;
    }

    .keyboardBtn {
        margin-left: 8px;
    }

    .inputTextBox {
        width: 80%;
        max-width: 80%;
    }
}