.header {
    width: 100vw;
    height: 100vh;
    background-image: url("../images/bg-image-main.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    /* filter: brightness(50%); */
    display: flex;
}
.navbar{
    margin: 50px auto 0px auto;
    z-index: 100;
    height: 40px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
div[class="navbar"] > div > a{
    text-decoration: none;
    color: #ffffff !important; /* Neveikia */
    cursor: pointer;
}
div[class="navbar"] > div > a:not(a[class="website-url"]){
    font-size: 20px;
}
.other-links{
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    margin: auto 0;
}
.website-url{
    font-size: 25px;
    margin: auto;
}
.url-div{
    width: 30%;
    display: flex;
}

@media screen and (max-width: 1150px) {
    .url-div, .other-links, .navbar{
        width: 100%;
        text-align: center;
        flex-direction: column;
    }
    .navbar{
        gap: 2rem;
    }
}