.body {
    background: #356D5A;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    font-style: alef;
    width: 100vw;
}

.divider {
    width: 100%;
    height: 2px;
    background-color: black;
    margin-top: 40px;
    margin-bottom: 0;
}