.container {
    margin: auto;
    display: flex;
    width: 70%;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    padding-top: 0;
}

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.columnLarge {
    flex: 7;
    padding: 10px;
}

.columnSmall {
    flex: 3;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    object-fit: cover;
}

@media (max-width: 1200px) {
    .container {
        width: 80%;
    }
}

@media (max-width: 1000px) {
    .container {
        width: 90%;
    }
}

@media (max-width: 800px) {
    .row {
        flex-direction: column;
    }

    .columnLarge,
    .columnSmall {
        flex: 1;
    }

    .image {
        display: none;
    }

    .row {
        justify-content: center;
    }
}