.imageSection {
    width: 100vw;
    height: 50vh;
    background-image: url("../images/resulstsbg.png");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.circlesContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 80%;
}