.footer {
    background-color: #24473c;
    color: #dbeafe;
    padding: 20px 0;
    text-align: center;
    font-size: 1rem;
    border-top: 1px solid #ffffff;
    width: 100vw;
    margin: 0;
}

.socialMedia {
    margin-bottom: 10px;
}

.socialMedia a {
    margin: 0 15px;
    font-size: 2rem;
    color: #dbeafe;
    text-decoration: none;
}

.socialMedia a:hover {
    color: #ffffff;
}

.copyRight {
    margin-bottom: 10px;
}

.footerLinks {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.footerLinks a {
    color: #dbeafe;
    text-decoration: none;
}

.footerLinks a:hover {
    color: #ffffff;
}