.btn{
    margin-left: auto !important;
    width: 125px;
    background-color: rgb(53,109,90, 0.9) !important;
}
.modalBoxDiv{
    display: flex;
    flex-direction: column;
}
.questionsDiv{
    display: flex;
    flex-direction: column;
    padding: 0px;
}
tr[class^='row_']{
    border: 1px solid black !important;
}